#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

#people {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

button {
  margin-bottom: 5px;
  background-color: black;
  margin: 10px;
}
