#root {
  max-width: 1280px;
  margin-top: 0;
  margin-left: auto;
  margin-right: auto;
  padding: 2rem;
  text-align: center;
}

#header {
  margin-bottom: 5px;
  background-color: bisque;
  margin: 10px;
}

#people {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

/* button {
  margin-bottom: 5px;
  background-color: bisque;
  margin: 10px;
} */
